<div class="company_overview_2_background">

<div class="design_framework">

<div class="company_overview_2">

	<h1>The Power of <br>Human Potential</h1>

	<p id="company_overview_2_qoute">&#34At Bodypoint, we work every day to better understand the capabilities and aspirations of people who use wheelchairs. As we imagine, design and manufacture our products, we strive to bridge the gap between the hard and the soft, the inanimate and the living, to create a better connection between wheelchairs and people.&#34<br><br><span style="font-style: normal">-David Hintzman, President</span></p>

	<div class="company_overview_2_mid">

	<p>We believe that every device we make, no matter how simple, should deliver the highest level of comfort, safety, fit, performance and aesthetics. We also recognize that every individual is unique -- we each have our own goals, challenges and aspirations. At Bodypoint, we are passionate about positioning every wheelchair user to reach his or her full potential. <br><br>Bodypoint began in 1991 when its founders, David Hintzman and Matthew Kosh, brought together their common industry experience, original product designs and shared desire for a more serious</p>

	<p> approach to wheelchair seating accessories. The company was built around the idea of inventing and manufacturing well-crafted, highly functional products designed to enhance postural support for people using wheelchairs. Recognizing the close physical connection between a wheelchair and its user, the name Bodypoint represents our vision of creating solutions for very specific needs at different points on the body. We believe this personal, targeted approach empowers individuals to reach higher, stretch further and achieve more in their lives. And it reminds us daily why we choose to work here: we are position champions.</p>

	</div>

	<h2>We&#39re proud of what we do</h2>

	<p>We make products that are a part of people&#39s everyday lives so we understand how important it is to make them extraordinary. We appreciate the recognition we receive and work hard every day to be worthy of it.</p>

	<a href="#"><img src="/assets/ml100award.jpg" alt="ML100Award" id="ml100award_img_2"></a>
<!--
	<ul>
		<li><a href="#">Bodypoint Inc. receives Manufacturing Leadership <br>award for Information Leadership with its ERP integration.</a></li>
	</ul>
-->
	<h3><a href="#">Bodypoint Inc. receives Manufacturing Leadership award for Information Leadership with its ERP integration.</a></h3>

	<h2 >Nothing says ingenuity like being first</h2>

	<p>We&#39re passionate about solving problems in new ways -- in fact, we have numerous patents to prove it. Take a look at our remarkable legacy of innovation. And just imagine what the future will bring. Click here to view our Innovation Timeline</p>

	<h2>Learn More</h2>

	<ul>
		<li><a href="#">To learn more about what drives us, visit Our manifesto page.</a></li>
		<li><a href="#">Discover what makes us...us.</a></li>
		<li><a href="#">Coding complexities -- learn about our philosophy.</a></li>
	</ul>

</div>

</div>

</div>
