<div class="design_framework">

<div class="timeline_page">

	<h1>Bodypoint<br> Timeline:</h1>

	<h2>1991</h2>
	<h3>Bodypoint Founded in Seattle</h3>

	<div class="timeline">

		<div class="timeline_left">
			<!--<a href="#"><img src="/assets/ankle_huggers.jpg" alt="ankle_huggers" id="ankle_huggers"></a>
			<a href="#"><img src="/assets/stayflex_chest_2.jpg" alt="stayflex_chest" id="stayflex_chest"></a>
			<a href="#"><img src="/assets/evoflex_pelvic_stab.jpg" alt="evoflex_pelvic_stab" id="evoflex_pelvic_stab"></a>
			<a href="#"><img src="/assets/cinch_mount_4.jpg" alt="cinch_mount" id="cinch_mount"></a>
			<a href="#"><img src="/assets/push_button.jpg" alt="push_button" id="push_button"></a>
			<a href="#"><img src="/assets/pivot_fit.gif" alt="pivot_fit" id="pivot_fit"></a>
			<a href="#"><img src="/assets/clickit.jpg" alt="clickit" id="clickit"></a>
-->
			<div class="t1994_l"></div>			
			<div class="t1996_l"></div>
			<div class="t2001_tri_l"></div>
			<div class="t2004_l"></div>
			<div class="t2007_l"></div>
			<div class="t2010_l"></div>
			<div class="t2013_l"></div>
			<a href="#"><img src="/assets/ankle_huggers.jpg" alt="ankle_huggers" id="ankle_huggers"></a>
			<a href="#"><img src="/assets/push_button.jpg" alt="push_button" id="push_button"></a>
			<a href="#"><img src="/assets/pivot_fit.gif" alt="pivot_fit" id="pivot_fit"></a>
			
			<div class="t1994">
				<span>1994</span>
				<p>We introduce the first medial 4-point hip belt, which greatly reduces shifting of the pelvis to improve stability in the wheelchair.</p>
			</div>
			<div class="t1996">
				<span>1996</span>
				<p>Our <a href="#">Ankle Huggers&#174 Support Straps</a> revolutionize leg support and foot positioning to provide a more friendly, comfortable and dynamic alternative to rigid shoe holders or foot straps.</p>
				
			</div>
			<div class="t2001_tri">
				<span>2001</span>
				<p>Our <a href="#">Tri-lock Midline Joystick Mount</a> offers huge improvements over previous models, quickly becoming a preferred after-market chair accessory for its versatility and precision-action.</p>
			</div>
			<div class="t2004">
				<span>2004</span> 
				<p>The patented <a href="#">Hip Grip&#174 Pelvic Stabilizer</a> dramatically changes the concept of pelvic stability from a fixed position to a stabilized range of movement that enhances reach and independence.</p>
			</div>
			<div class="t2007">
				<span>2007</span> 
				<p>We think outside the wheelchair to introduce the <a href="#">Aeromesh&#174 Bath Belt</a>, addressing the challenge of securing users in wet and slippery shower chairs with a quick-drying material that is friendly to the skin.</p>
			</div>
			<div class="t2010">
				<span>2010</span> 
				<p>The patented modular <a href="#">Push-Button Buckle</a> allows for ease-of-release fine tuning and makes it the most adaptable, compact, easy-to-tighten and indestructible means of securing a wheelchair belt.</p>
			</div>
			<div class="t2013">
				<span>2013</span>
				<p>The <a href="#">PivotFit&#8482 Dynamic Shoulder Harness</a> combines a comfortable fit with a seriously engineered high-strength swivel buckle, for a central release that&#39s both elegant and secure.</p>
			</div>
		</div>

		<div class="timeline_center">

		</div>

		<div class="timeline_right">
			<div class="t1995_l"></div>
			<div class="t2001_ful_l"></div>
			<div class="t2003_l"></div>
			<div class="t2005_l"></div>
			<div class="t2008_l"></div>
			<div class="t2011_l"></div>
			<a href="#"><img src="/assets/clickit.jpg" alt="clickit" id="clickit"></a>
			<a href="#"><img src="/assets/cinch_mount_4.jpg" alt="cinch_mount" id="cinch_mount"></a>
<a href="#"><img src="/assets/stayflex_chest_2.jpg" alt="stayflex_chest" id="stayflex_chest"></a>
			<a href="#"><img src="/assets/evoflex_pelvic_stab.jpg" alt="evoflex_pelvic_stab" id="evoflex_pelvic_stab"></a>
			<div class="t1995">
				<span>1995</span>
				<p> We patent the <a href="#">Clickit&#174 Seat Latch.</a></p>
			</div>
			<div class="t2001_ful">
				<span>2001</span>
				<p>The <a href="#">Fulcrum Adjustable Angle Footplate</a> is introduced and wins Best New Product at the Canadian Posture and Seating Symposium for its revolutionary way of accommodating foot inversion/eversion.</p>
			</div>
			<div class="t2003">
				<span>2003</span> 
				<p>We introduce and patent the <a href="#">Cinch-Mount&#8482 End Fitting</a>, which enables quick installation and makes it extremely easy to adjust the length and buckle placement of any belt or harness.</p>
			</div>
			<div class="t2005">
				<span>2005</span>
				<p>Combining the strength of a shoulder harness with the comfort of a stretchy butterfly bib, the <a href="#">Dynamic Stayflex&#8482 Chest Support</a> ensures optimal trunk control while reducing the choking hazard found in many chest supports.</p>
			</div>
			<div class="t2008">
				<span>2008</span> 
				<p>The patented <a href="#">Rehab Latch&#8482 Buckle</a> is the first buckle designed specifically around the needs of wheelchair users &#45 easily manipulated by the weakest hands, yet secure enough to resist accidental release.</p>
			</div>
			<div class="t2011">
				<span>2011</span> 
				<p>Solving the age-old problem of having a belt get caught in the wheelchair during transfer, we create the <a href="#">Evoflex&#174 Pelvic Stabilizer</a> with its patented tapered thermoplastic end strap.</p>
			</div>

		</div>

	</div>

	<h3 style="margin-bottom: 35px;">Present</h3>
	
</div>

</div>
