<div class="design_framework">

<div class="success_story_page">

	<h1>Inspired by people</h1>

	<div class="success_story_page_top">

		<h3>Aditya tells us his recovery story</h3>

		<p>Aditya shares his story about how the Hip Grip® Pelvic Stabilizer helped improve his postural positioning, allowing him to achieve pressure relief and strengthened muscle tone.</p>

	</div>
	<a href="#" id="tell_us_your_story_single">Tell us your story</a>
	<a href="#">View all stories >></a>
	<div class="story_container">

		<div class="story_container_top">

			<div class="story_container_top_images">

				<img src="/assets/Aditya_styling_with_shades_2.jpg">
				<img src="/assets/Aditya_taking_a_photo_Photograph_credits_to_Alex_Garland_Photography.jpg">
				<img src="/assets/Aditya_at_space_needle_2.jpg">

			</div>
			<div class="story_container_top_p">

				<p><b><a href="http://youtu.be/qKiQna08Bwc" target="_blank">Before:</a></b><br>Pressure ulcer on the vertebrae, not successful relieving it with backrest setups</p>

				<p><b><a href="http://youtu.be/qk8PHrJBWgA" target="_blank">After:</a></b><br>Using Hip Grip®, pressure was relieved and atrophied muscles were gradually strengthened</p>

			</div>

		</div>

		<div class="story_container_left">
			<h2>Aditya G.</h2>
			<p>Seattle, WA, USA</p>
			<p><a href="#">Hip Grip® Pelvic Stabilizer</a></p>
		</div>

		<div class="story_container_body">
			<p>“My injury was in 2002 and I have a C4-5 ASIA C (incomplete) spinal cord injury. In 2004 I underwent surgery for a baclofen pump implantation. As a result of various factors related to the surgery, being underweight and having a kyphotic posture, the hardware in my lumbar region became exposed and led to a series of skin breakdowns. Due to persistent poor posture and the resulting pressures on my vertebrae that were now covered by scar tissue, a small pressure ulcer developed in late 2005. After trying multiple types of posture configurations and pressure relieving backrest setups, my occupational therapist referred me to Bodypoint, a local company that he said was developing a pelvic stability device that may help improve my posture.</p>

			<p>"With this recommendation, we contacted Bodypoint and learned about the <a href="link to Hip Grip product page">Hip Grip Pelvic Stabilizer</a>. I decided to try it to relieve my spinal pressure.</p>
			<p>“It's important to point out the nature of my injury and how the resulting level of paralysis is rather unique: I was left with a pretty significant amount of innervation below my level of injury and therefore muscles in my torso, lower back and throughout my body.  I still have a small bit of innervation after my injury but was able to gradually strengthen over the years with the combination of the Hip Grip (Pelvic Stabilizer) and a gradual lessening of need for an upper body support, i.e. moving my <a href="#">Bodypoint Chest Belt</a> lower and lower until it was around my waist and eventually unnecessary for stationary sitting.  Years of riding the bus and other functional activities also led to strengthening of those muscles.</p>
			<p>"My level of improvement is even more dramatic due to the fact that I had such a significant degree of atrophy and degeneration resulting from an exceptionally long and complication-filled recovery. This was compounded by pain and other factors that inhibited my rehabilitation until I started using the <a href="#">Hip Grip Pelvic Stabilizer</a> which made a huge difference in my rehabilitation. Over the years, I continue to strengthen my position and look for more ways to increase independence, mobility and function.</p>
			<p>See Aditya’s amazing before and after videos:</p>

			<p><a href="http://youtu.be/qKiQna08Bwc" target="_blank">Without Bodypoint Hip Grip</a></p>
			<p><a href="http://youtu.be/qk8PHrJBWgA" target="_blank">With Bodypoint Hip Grip</a></p>
			<p><a href="http://youtu.be/b-rJT0i0ESI" target="_blank">3 years later</a></p>

			<p>Find out more about how the <a href="#">Hip Grip® Pelvic Stabilizer</a> can help strengthen your position.</p>

		</div>

	</div>

</div>

</div>
