<div class="design_framework">

<div class="success_story_page">

	<h1>Stories Of<br> Everyday Positioning</h1>

	<div class="success_story_page_top">

		<h3>Alin Steglinski feels secure with his Bodypoint products</h3>

		<p>Alin reached out to Bodypoint through <a href="https://www.facebook.com/BodypointInc?fref=ts" target="_blank">Facebook</a> to express his appreciation for the various Bodypoint products that together have created calm and confidence.</p>

	</div>
	<a href="#" id="tell_us_your_story_single">Tell us your story</a>
	<a href="#">View all stories >></a>
	<div class="story_container">

		<div class="story_container_top">

			<img src="/assets/holder_square.png">
			<img src="/assets/holder_square.png">

			<div class="story_container_top_p">

				<p><b>Before:</b><br>Felt insecure in his chair due to severe spasticity and sensory integration disorder / autism</p>

				<p><b>After:</b><br>A sense of security and calm due to staying well connected to his chair</p>

			</div>

		</div>

		<div class="story_container_left">
			<h2>Alin <br>Steglinski</h2>
			<p>Palatine, IL</p>

			<ul>
				<li><a href="#">Stayflex™ Chest Support</a></li>
				<li><a href="#">Monoflex™ Chest Support</a></li>
				<li><a href="#">Leg Harness</a></li>
				<li><a href="#">4-Point Belt</a></li>
				<li><a href="#">Sub-ASIS Pads</a></li>
				<li><a href="#">Ankle Huggers® Support Straps</a></li>
			</ul>
		</div>

		<div class="story_container_body">
			<p>Alin is a self-proclaimed ‘strapaholic’. You see, he loves straps. Alin is diagnosed with male atypical Rett syndrome with spastic quadriplegic cerebral palsy with autism and sensory integration disorder.  Because of this, Alin is greatly comforted by feeling secure which, for him, means making his chair an extension to his body.</p>

			<p>To maintain this security, Alin uses many Bodypoint products that make him more relaxed by helping to calm the neural synapses in his brain to avoid run away effects.   He uses the Stayflex™ Chest Support, the Monoflex™ Chest Support, the Leg Harness, a Bodypoint 4-Point Padded Pelvic Belt with Sub-ASIS pads and Ankle Huggers® Support Straps.  One of the reasons he loves Bodypoint products is because they hold up over time and he can wash them. Before getting his Stayflex that he has affectionately named: “Mel1”, he went through a variety of dynamic postural support products.  They all ripped or failed within a few months. He also named his Monoflex™ "Mel4".  The Stayflex & Monoflex celebrate an annual birthday and get washed regularly. Mel1 celebrated a 5th birthday in February 2013.<a href="http://www.alinssite.info/2013/02/24/new-iphone-mel1s-5th-birthday-big-news-coming-margarita-day-was-yesterday-bowling-videos-still-pending" target="_blank"> Link to Alin's site.</a></p>

			<p>Alin's videos:</p>

			<p><a href="http://youtu.be/bOTgJFOLjgo" target="_blank">Hear Alin’s Bodypoint story first hand</a></p>
			<p><a href="http://youtu.be/nZZrNFvIuws" target="_blank">Alin is such a fan, he made his own Bodypoint commercial. Check it out!</a></p>

			<p>Check out <a href="http://alinssite.info" target="_blank">Alin’s blog</a> to find out what he has been up to lately.</p>

		</div>

	</div>


</div>

</div>
