<div class="design_framework">

<div class="coding_page">

	<div class="coding_page_top">
		<h1>There are many ways to code it.</h1>
	</div>

	<h2>Coding puts the “complex” in Complex Rehabilitation</h2>
	<p>Medical coding for therapy products is very complex, for many reasons: State-by-state rules vary, coding categories and guidelines continue to be re-evaluated, the “suggested HCPCS (Healthcare Common Procedure Coding System) codes” are merely provided as a set of options and complex rehab technologies aren’t set apart from standard issue products making justifications difficult.</p>
	<p>The result to you of these coding complexities is that they can be limiting and sometimes not address individual needs.  We do not endorse these limits, instead we dedicate time and resources to advocacy efforts <link to advocacy page> to influence positive coding changes for people who use wheelchairs, their families and caregivers as well as the postural support specialists who support them.</p>

	<h3>Partnerships for change</h3>
	<p>We believe it is critical that wheelchair users have access to the products and resources they need to reach their individual goals and we are committed to that end. Change is possible - just look at the State of Washington where Bodypoint is based: it’s the first state to provide a separate recognition of Complex Rehab Technology (CRT) within the state's Medicaid program.</p>
	<p>There is still much work to do and we recognize that it’s difficult for therapists to justify the rates for some of the products they recommend for their patients. So, we combine our voice with other advocates to shape policy and we support organizations, resources and tools that contribute to users and therapists getting the best therapeutic products possible to maximize quality of life.</p>
	<p>One such resource is LMNBuilder.com <link to the site>.  LMN Builder is intended to provide a compliant communication tool that assists clinicians with the creation of medical record/medical necessity documentation on the key benefits of our products.</p>

	<h3>Some guidelines</h3>
	<p>As guidelines and rules can change, keep connected to them and updated on the industry in general with these links:</p>
	<ul>
		<li><a href="link to our BP list">Current list of Bodypoint product coding as defined by Medicare</a></li>
		<li><a href="https://www.dmepdac.com/dmecsapp/do/search" target="_blank">The HCPCS Code List</a></li>
		<li><a href="Link to: Advocacy Page">Bodypoint sponsored/supported organizations</a> [Link to: Advocacy Page]</li>
		<li><a href="[Link to Dave letter on coding]">Insights and advice from our Founder & President, Dave Hintzman</a></li>
	</ul>

</div>

</div>
