<div class="design_framework">

<div class="faq">

	<h1>FAQ</h1>

	<ul>
		<li><a href="#faq_question1">Can I order without setting up an account if I’m using a credit card?</a></li>
		<li><a href="#faq_question2">How long does it take to get an account set up after I submit the paperwork? (How soon can I place an order or obtain a quote after I submit my account application?)</a></li>
		<li><a href="#faq_question3">What is the difference between a front pull and a rear pull and why would I use one over the other?</a></li>
		<li><a href="#faq_question4">What is a Flat-Mount/Cinch-Mount?</a></li>
		<li><a href="#faq_question5">Do you have strap guides for your shoulder harnesses?</a></li>
		<li><a href="#faq_question6">Can I use a Bodypoint shoulder harness on a sling back chair?</a></li>
		<li><a href="#faq_question7">What is your <a href="#">return/ exchange policy?</a></li>
		<li><a href="#faq_question8">What is a FrameSaver Clamp?</a></li>
		<li><a href="#faq_question9">What size of Calf Panel or Calf Strap do I order if I only know the width of the wheelchair?</a></li>
	</ul>

	<h3><a name="faq_question1"></a>Can I order without setting up an account if I’m using a credit card?</h3>
	<p>You cannot place orders with Bodypoint until we have an account set up with you.  If you are using a credit card you are able to get quotes online but will need to contact our customer service in order to place an order or convert a quote. In order to process an order, we will need your current bill to and ship to addresses and contact information,    We are happy to have you use a credit card for payment once your account is set up, or we will also consider offering to you  net 30 credit terms if you complete the appropriate portion of our credit application.</p>

	<h3><a name="faq_question2"></a>How long does it take to get an account set up after I submit the paperwork? (How soon can I place an order or obtain a quote after I submit my account application?)</h3>
	<p>We strive to setup customer accounts within 1 business day hours of receipt of your application.  We will contact you personally with your account number as soon as we have created your account.  Once you have your account number you can place orders or request quotes from us.</p>

	<h3><a name="faq_question3"></a>What is the difference between a front pull and a rear pull and why would I use one over the other?</h3>
	<p>Front pull and rear pull refer to how you would tighten the top straps on our shoulder harness and Stayflex products.  Front pull (pulling the adjustment straps forward) would be useful if the user wanted to adjust the top straps themselves, or if a caregiver wanted to maintain eye contact with the user while the adjustment was being made.  Rear pull (pulling the adjustment straps backward) could only be done by a caregiver while standing behind the user.</p>

	<h3><a name="faq_question4"></a>What is a Flat-Mount/Cinch-Mount?</h3>
	<p><a href="#">Flat-Mount™</a> and <a href="#">Cinch-Mount™</a> refer to types of end-fitting hardware that we offer for attachment of some of our products to wheelchairs.  Flat-Mount end fittings are triangular pieces of heat-treated nickel-plated steel that have a slot through which to weave the webbing and then you use the provided steel slide to adjust the webbing tension.  Cinch-Mount end fittings function like cam buckles in which you open the cover then feed the webbing through and then close the cover to lock the webbing in place, but is a more secure means of grasping the webbing.</p>

	<h3><a name="faq_question5"></a>Do you have strap guides for your shoulder harnesses?  No</h3>
	<p>Why not? We supply installation instructions with our shoulder harnesses.  If the instructions concerning the installation are followed then no strap guides should be required when using our shoulder harnesses.</p>

	<h3><a name="faq_question6"></a>Can I use a Bodypoint shoulder harness on a sling back chair? No.</h3>
	<p>Why not?  Bodypoint shoulder harnesses involving top straps require the use of a rigid or hard backrest for attachment since they have to be screwed into the backrest.</p>
	<p>For sling back chairs we do offer several types of products such as our Monoflex, Chest Belt and Strap which can be used. </p>

	<h3><a name="faq_question7"></a>What is your <a href="#">return/ exchange policy?</a></h3>
	<p>Customers must contact Bodypoint within 30 days of the purchase date for a required return authorization.  All returns are subject to a 15% processing fee.  We do not offer exchanges.  Instead we and the customer must then place a new order for the product they want instead. <a href="#">View our full product warranty policy.</a></p>

	<h3><a name="faq_question8"></a>What is a FrameSaver Clamp?</a></h3>
	<p>FrameSaver™ Clamps are a nylon clamp which fit around the tubing on a seat rail and create a mounting point without having to drill into the seat rail.</p>

	<h3><a name="faq_question9"></a>What size of Calf Panel or Calf Strap do I order if I only know the width of the wheelchair?</h3>
	<p>Calf Panels and Calf Straps can be fitted to the width of a wheelchair as follows:</p>
	<p>Size Small – 31cm-38cm (12”-15”)<br>   Size Medium – 38cm – 48cm (15”-19”)<br>     Size Large – 19cm-22cm (19”-22”)</p>

</div>

</div>	
