<div class="design_framework">

<div class="find_a_partner">

	<h1>How to Find a Partner</h1>

	<p>Bodypoint has partners all over the world that sell our products, support our channel and educate our customers about positioning. Click on a link below to find support in your area.</p>
	<h2>U.S. Bodypoint Representative</h2>
	<div class="find_a_partner_right">
		<div class="find_a_partner_map_links">
			<p><%= link_to "U.S. Bodypoint Reseller", find_a_partner_path %></p>
			<p><%= link_to "U.S. Bodypoint Representative", find_a_partner_rep_path, :id => "find_a_partner_map_links_representative" %></p>
			<p><%= link_to "International Partners", find_a_partner_international_path %></p>
		</div>
		<p>Still need help? <a href="#">Contact us.</a></p>
	</div>

	<div class="find_a_partner_map">
		
		<p>Search by state to locate a sales representative in your area</p>
		<img src="/assets/map_representatives.png">
		<p>View Bodypoint Sales Rep Groups in a <a href="#">full screen map</a> </p>
	</div>

</div>

</div>
