<div class="partner_center_background">

<div class="design_framework">

<div class="partner_center">

	<div class="partner_center_top">
		<h1>Partner Center</h1>

		<p>As with any community, strength comes from those with a diversity of perspectives, sharing a common goal. It is important for us to both build, and support our community of trusted and knowledgeable professionals.<p>

	</div>
	<div class="partner_center_mid">

		<div class="partner_center_mid_1">

			<img src="/assets/holder_square.png">

			<h2>Find a <br>Partner</h2>

			<p>Looking for Bodypoint in your area? Bodypoint has partners all over the world that sell our products, support our channel and educate our customers about positioning.</p>

		</div>
		<div class="partner_center_mid_2">

			<img src="/assets/holder_square.png">

			<h2>What can Bodypoint <br>do for me?</h2>

			<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		</div>
		<div class="partner_center_mid_3">

			<img src="/assets/holder_square.png">

			<h2>Become a <br>partner</h2>

			<p>We are passionate about positioning every wheelchair user to reach his or her full potential and like to partner with others that share that passion.</p>

		</div>
	</div>
	<div class="partner_center_lower_mid">

		<div class="partner_center_lower_mid_1">

			<img src="/assets/holder_square.png">

			<h2>Asset & image library</h2>

			<p>Bodypoint partners have exclusive access to the resources they need to promote and sell our products including images, literature, technical bulletins, brochures and more.</p>

			<a href="#">Sign in for access >></a>

		</div>
		<div class="partner_center_lower_mid_2">

			<img src="/assets/holder_square.png">

			<h2>Training</h2>

			<p>Learn more about Bodypoint products, applications and selling techniques with exclusive access to training materials, videos, webinars and more.</p>

			<a href="#">Sign in for access >></a>

		</div>

	</div>
	<div class="partner_center_bottom">

		<h3>Sub Headline</h3>

		<h3>Sub Headline</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu f</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu f</p>

	</div>

</div>

</div>

</div>
