<div class="design_framework">

<div class="how_to_buy_background">

</div>

<div class="how_to_buy">

	<div class="how_to_buy_top">

		<h1>How to buy</h1>

		<p>Bodypoint has partners all over the world that sell our products, support our channel and educate our customers about positioning.</p>

	</div>

	<h2><a href="#">Wheelchair user, caregiver or therapist</a></h2>

	<p> You are a wheelchair  user, caregiver or therapist and would like to find a Bodypoint reseller in your area, visit our <a href="#">Find a Partner page</a>.</p>

	<h2><a href="#">US Reseller</a></h2>

	<p>If you are a reseller in the US and are interested in becoming a Bodypoint dealer, fill out our <a href="#">online application</a>.</p>

	<h2><a href="#">Manufacturer</a></h2>

	<p>If you are a manufacturer and would like information on how to purchase Bodypoint products, please contact us at <a href="mailto:sales@bodypoint.com">sales@bodypoint.com</a> with your company name, location and website address.</p>

	<p>Still have questions? <a href="#">Contact us.</a></p>

</div>

</div>
