<div class="index">

<h1>Images</h1>

<p></p>

<ol>

<h2>Company Culture Page</h2>
<p>Qoute: "we're a liitle different"</p>
	<li><img src="/assets/stock-photo-21765305-different-leader-best-unique-boss-individuality-original-special-concept.jpg"></li>
	<li><img src="/assets/chairs.jpg"></li>

<h2>What Can BP do for you Page therapists</h2>

	<li><img src="/assets/therapist1.jpg"></li>
	<li><img src="/assets/therapist2.jpg"></li>
	<li><img src="/assets/therapist3.jpg"></li>
	<li><img src="/assets/therapist4.jpg"></li>

<h2>What Can BP do for you Page Wheel Chair user</h2>
<p>this is the only one I have found that has a similar theme with other images you provided.  Everything I have found so far with these aren't really a good image to use or for the lack of a better word, cheesy, haha</p>
	<li><img src="/assets/wheelchair_user.jpg"></li>

<h2>What Can BP do for you Page Wheel Chair Dealer</h2>
	<p>So I have found nothing that I liked for this BUT I think I have found a solution. I was thinkning about taking one of these box images and photoshop at BP logo on it with the qoute to the left of it.  I'll make a sample image for it for you to get a idea of what I'm talking about.</p>

	<li><img src="/assets/box1.jpg"></li>
	<li><img src="/assets/box2.jpg"></li>
	<li><img src="/assets/box.jpg"></li>

</ol>

</div>
