<div class="design_framework">

<div class="privacy_policy">

	<h2><u>Privacy Statement – Bodypoint, Inc., Inc. – www.Bodypoint, Inc.com</u></h2>
	<p>Effective Date May 29, 2013</p>
	<p>Bodypoint, Inc. understands that privacy is important to you and values your trust. This Privacy Policy ("Policy") explains how personal information about you is collected, used, and disclosed by Bodypoint, Inc., Personal information covered by this Policy includes information that is collected when you sign up for a Bodypoint, Inc. account, shop in our store, use our site, sign up for activities and events, or when you otherwise interact with us. </p>

	<h2>Personal Information Collected</h2>
	<p><b>Personal Information You Provide.</b> We collect personal information you provide to us. For example, we collect information when you create an account, create a profile, use the interactive areas and features on our site, make a purchase, sign up for classes and events, and when you email, call, fax or otherwise communicate with us. The types of personal information we may collect include, name, postal address, phone or fax number, email address, photo, account information (e.g., credit card and online registration information), demographic information and information about your interests and preferences.</p>
	<p><b>Automatically Collected Information.</b> We receive certain types of information automatically whenever you use our services or sites. For example, when your Web browser accesses our site, we obtain certain types of information, such as your IP address, the type of browser you use, access times, and the page you visited before visiting our site. We may also collect information about your computer's operating system and information about your usage and activity on our site.</p>
	<p><em>Cookies.</em> We automatically collect data using cookies. A "cookie" is a small data file that our sites transfer to your computer. We deliver these cookies and collect data on our sites, and we also use a third party agent to deliver cookies and collect data. We use the data we collect using cookies to help support the integrity of the registration and buying processes on our site, retain your preferences and account settings, learn about your possible interests so we can personalize our marketing and information to better support your interests, and improve our sites and your experience. When you view a video on our site that uses Adobe Flash Player, a third party (Adobe Systems Inc.) may set a "flash cookie" on your computer. </p>
	<p><em>Web Beacons.</em> We also collect information using Web beacons. Web beacons are electronic images that may be used on our site or in our emails. We use Web beacons to deliver cookies, count visits, understand usage and campaign effectiveness, and to tell if an email has been opened or acted upon.</p>
	<p><b>Personal Information from Other Sources.</b> We may also receive personal information about you from other sources and combine or link that with information we have about you.</p>

	<h2>Our Use of Personal Information</h2>
	<p>We use the personal information we collect about you for a variety of purposes, for example, to:</p>
	<ul>
		<li>administer your account and communicate with you about account benefits;</li>
		<li>provide and deliver products and services, process and complete transactions and send you related information, including purchase confirmations, invoices, updates, security alerts, 	recall notices and support and administrative messages;</li>
		<li>respond to your comments and questions and provide customer service;</li>
		<li>send you communications about Bodypoint, Inc. and partner products, services, offers, 	promotions, news, upcoming events, and geographically relevant information;</li>
		<li>process and deliver contest or sweepstakes entries and prizes;</li>
		<li>maintain and administer Your Bodypoint, Inc. Online Account;</li>
		<li>operate and improve our sites and services.</li>
	</ul>

	<h2>Sharing of Personal Information</h2>
	<p>We may share personal information about you outside of BODYPOINT, INC., and its affiliates, including as follows:</p>
	<ul>
		<li>We may share personal information with third parties who complete transactions or perform services on our behalf.</li>
		<li>We may also post or publish your information when you submit comments, stories, photos, and videos in connection with other areas of our sites.</li>
		<li>As needed in connection with the transfer of business assets.</li>
		<li>We may share personal information (i) to comply with laws or to respond to lawful requests and legal process, (ii) to protect the rights and property of Bodypoint, Inc., our agents, members, and others, including to enforce our agreements, policies, and terms of use, or (iii) in an emergency to protect the personal safety of Bodypoint, Inc., our members, our customers, or any other person.</li>
	</ul>

<h2>Your Choices</h2>
<p>You may opt out of receiving promotional emails from BODYPOINT, INC., by following the instructions in those emails,  by sending us an e-mail <a href="mailto:sales@bodypoint.com">sales@bodypoint.com</a> and asking to be removed or changing your profile opt-in settings.  If you opt out, we may still send you non-promotional emails, such as emails about your purchases, account, or our ongoing business relations.</p>
<p>If your personal information changes, we invite you to correct or update your information to your Bodypoint, Inc. online Account by selecting the appropriate link on the website where your account information resides.  You may also send us an e-mail with your updates to <a href="mailto:sales@bodypoint.com">sales@bodypoint.com</a></p>

<h2>Security of Personal Information</h2>
<p>Bodypoint, Inc. endeavors to use commercially reasonable physical, electronic, and procedural measures to protect personal information from loss, misuse, unauthorized access, disclosure, alteration, and destruction while it is under our control.  Our site contains links to other sites maintained by other companies that are either distributors of Bodypoint products or companies that are not affiliated with Bodypoint but are industry related.  Bodypoint is not responsible for the privacy practices or the content of such sites.</p>

<h2>No Medical Advice</h2>
<p>The information on this site is provided for informational purposes only and is not intended or recommended as a substitute for professional medical advice.  Always seek the advice of your physician or other qualified health care provider regarding any medical condition or treatment.  We may also include certain information, reference guides and databases intended for use by licensed medical professionals.  These tools are not intended to give professional medical advice.</p>

<h2>Changes to this Policy</h2>
<p>Bodypoint, Inc. may change this Policy from time to time and all such changes shall be effective when posted on this Website.</p>

<h2>User Feedback</h2>
<p>Bodypoint is pleased to hear from visitors and welcomes your comments.  Please be advised that Bodypoint does not accept or consider unsolicited ideas for new products or technologies, processes marketing plans or names.  Please do not send your unsolicited ideas to Bodypoint.  If, despite this request, you still send Bodypoint your ideas and materials, then by submitting this information thru this site, you assign to Bodypoint, free of charge, all worldwide right, title and interest in such information.</p>

<h2>Medical Privacy</h2>
<p>The privacy of your medical information is ensured via HIPPA and its Privacy Rule.  The Privacy Rule provides federal protections for personal health information held by covered entities and grants patients an array of rights with respect to that information. At the same time, the Privacy Rule allows for the disclosure of personal health information needed for patient care and other purposes.  You may wish to download and review the document entitled, “Your Health Information Privacy Rights” from the U.S. Department of Health and Human Services at www.hhs.gov to gain a better understanding of medical privacy and your rights.</p>

<h2>Contact Us</h2>
<p>If you have any questions, comments or concerns about this Policy or about our privacy practices, please call our customer service representatives at 1-800-547-5716 (US and Canada) or 1-206-405-4555 (outside the US and Canada) or send an email message to <a href="mailto:sales@bodypoint.com">sales@bodypoint.com</a>. You may also direct your privacy-related comments or questions to the following address:</p>
<p>Bodypoint, Inc.<br>
558 1st Ave W, Suite 300<br>
Seattle, WA 98104</p>
<p>4837-0174-3880, v.  2</p>

</div>

</div>
