<div class="design_framework">

<div class="success_stories_landing_page">

	<h1>Stories of everyday positioning</h1>

	<div class="success_stories_landing_page_top">

		<p>Throughout our company history, we have met countless people who inspire us.  It is their spirit, their quest to live life to the fullest, their goals and aspirations to ‘not settle’ that drive us. This is our motivation and what we believe makes life real, interesting and rewarding.</p>

		<p>It is often the people we encounter that teach us to see our selves and our products differently. For a young man, it is the ability to strengthen his position so he does not develop scoliosis or kyphosis. For a teenage girl, it is to sit upright in her seating system so she does not drool in front of her peers.  For the athlete, it is to have movement and agility on the court. For others, it is providing courage, confidence and dignity in the face of a hardship or challenge. </p>

		<p>It’s important for us to share first-hand accounts of increased independence and improved life conditions that result from using our products.  It is our hope that these stories will enlighten and inspire others to pursue their own individual positioning goals.</p>

		<p>If you’ve got such a story, <a href="">please share it with us</a></p>

	</div>
	<a href="#" id="tell_us_your_story">Tell us your story</a>
	<div class="stories_container">
		<div class="story_box">
			<a href="#"><img src="/assets/Aditya_at_space_needle.jpg"></a>
			<h3><a href="#" target="_blank">Aditya G. tells us his recovery story</a></h3>
			<div id="story_box_break_line"></div>
			<p>Aditya shares his thoughts on how the Hip Grip™ helped him improve his postural positioning in order to achieve pressure relief and strengthened muscle tone.</p>
		</div>

		<div class="story_box">
			<a href="#"><img src="/assets/Alin_bowling.jpg"></a>
			<h3><a href="#" target="_blank">Alin S. shares how his six Bodypoint products work and last</a></h3>
			<div id="story_box_break_line"></div>
			<p>Alin reached out through Facebook <link to BP FB page> to convey his appreciation for the six different Bodypoint products that together have given him confidence and well-being.</p>
		</div>

		<div class="story_box">
			<a href="#"><img src="/assets/1_Barry_w_Sitka_looking_out_w_smile_2.jpg"></a>
			<h3><a href="#" target="_blank">Barry Long “product tester” talks about the Evoflex® Pelvic Stabilizer</a></h3>
			<div id="story_box_break_line"></div>
			<p>As someone who’s “hard on equipment,” Barry provides detailed insights on the Evoflex and how it makes him consistently more mobile. </p>
		</div>

		<div class="story_box">
			<a href="#"><img src="/assets/Hal_and_Cheryl_close_up_at_wedding_STAR.jpg"></a>
			<h3><a href="#" target="_blank">Hal L. gives away the bride</a></h3>
			<div id="story_box_break_line"></div>
			<p>Sharing his Monoflex™ Chest Support experience, Hal tells how a little ingenuity and collaboration mixed with a great product made for an unforgettable moment at his daughter’s wedding.</p>
		</div>

		<div class="story_box">
			<a href="#"><img src="/assets/Todd_S_IMG_0046.jpg"></a>
			<h3><a href="#" target="_blank">Todd Stabelfeldt’s Tri-Lock™ Rotating Shaft maximizes his mobility</a></h3>
			<div id="story_box_break_line"></div>
			<p>Todd shares how reliability, durability and a product he can trust have given him over 55,000 miles of confidant travel!</p>
		</div>

		</div>

</div>

</div>
