<div class="design_framework">

<div class="terms_and_conditions">

	<h2>TERMS AND CONDITIONS</h2>

	<h3>LIMITED LIFETIME WARRANTY</h3>

	<p>All products manufactured by Bodypoint carry a limited lifetime warranty against defects in workmanship and materials arising under normal use by the original consumer.  Product specifications are subject to change. For current specifications and warranty details, contact your local Independent Distributor or call Customer Service at 1/800-547-5716.</p>

	<h3 style="font-style:italic; font-weight:normal;">Limitations on Warranties</h3>
	<p>The warranties described herein do not extend to products that have been subject to misuse, accident or tampering, nor to products that have been modified in any way other than that specifically described in the product instructions. Additional limitations may apply to distributed products not manufactured by Bodypoint — see specific manufacturer’s warranty information.</p>
	<p>THE FOREGOING WARRANTIES ARE IN LIEU OF ALL OTHER WARRANTIES EXPRESSED OR IMPLIED, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  IN NO EVENT SHALL BODYPOINT BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES RESULTING FROM THE USE OF THE PRODUCT, INCLUDING WITHOUT LIMITATION, LOSS OF ANTICIPATED PROFITS, EVEN IF BODYPOINT SHALL HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH POTENTIAL LOSS OR DAMAGE.  BODYPOINT SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY DELAY IN FURNISHING PRODUCT.</p>
	<p>Bodypoint does not authorize any distributor, dealer, agent, sales person or any third party to change the terms or coverage of this warranty, and any such change shall be null and void.  This warranty is non-transferable.  This warranty will be governed in accordance with the laws of the State of Washington.  The customer consents that jurisdiction under Venue for any action shall be in King County Washington.  This warranty information is reprinted here for information purposes only and is subject to change without notice.</p>
	<h3>RETURNS</h3>
	<p>Customer must contact Bodypoint within 30 days of the purchase date for a required return authorization. All returns are subject to a 15% restocking fee, plus applicable freight charges.</p>
	<h3>PAST DUE ACCOUNTS</h3>
	<p>Past due invoices will incur finance charges at the rate of 1.5% per month.  Bodypoint reserves the right to hold further shipments or require prepayment for any delinquent account.</p>
	<h3>TERMS</h3>
	<p>Standard terms are net 30 days on accounts approved for credit.
	2% discount for all invoices paid in full by check within 15 days of the invoice date. All shipments are FOB Seattle, Washington. Prices are subject to change without notice. SHIPPING Free Domestic UPS Ground for qualified orders.  Applies to UPS Ground Service in the U.S.  Offer excludes OEM, Distributor, and VAR orders HI, AK and PR.  Excludes all oversize items.</p>
<!--
	<h3 style="font-weight:normal;">SHIPPING</h3>
	<p>Free Domestic UPS Ground Srvice for orders of $135 or more.  Applies to UPS Ground Service in the U.S.  Offer excludes OEM, Distributor, and VAR orders HI, AK and PR.  Excludes all oversize items. </p>
-->
	<p style="font-weight:bold;">Price, and Terms and Conditions are subject to change without notice.  Call Customer Service at <br><span style="font-weight:normal;">1/800-547-5716</span> for further details.</p>

<p style="padding:10px 0px;">Trademarks of Bodypoint Inc.</p>

<ul>
<li>Aeromesh® </li>
<li><a href="#">Ankle Huggers®</a></li>
<li><a href="#">Clickit®</a></li>
<li><a href="#">Evoflex®</a></li>
<li><a href="#">Hip Grip®</a></li>
<li><a href="#">Cinch-Mount™</a></li>
<li><a href="#">Fixit™</a></li>
<li><a href="#">Flat-Mount™</a></li>
<li><a href="#">FrameSaver™</a></li>
<li><a href="#">Stayflex™</a></li>
<li>Laminar Pad™</li>
<li><a href="#">Monoflex™</a></li>
<li>Rehab Latch™</li>
<li>Taperlock™</li>
<li><a href="#">PivotFit™</a></li>
<li> </li>
<li>Velcro® is a registered trademark of Velcro Industries B.V. CORPORATION</li>
</ul>

</div>

</div>
