

<div class="design_framework">

<div class="whatcanbpdoforme_page">

	<!--<p class="photo_place_holder">*Photo Place Holder<p>-->

	<h1>Positioning Products<br> That People Love</h1>
	
	<p>Proper wheelchair positioning is more than an issue of comfort and safety. By listening to users and seeking to understand their needs, we create extraordinary postural support solutions that enable them to achieve their full potential.</p>

	<h2>For Wheelchair Users</h2>

	<p>When we design a Bodypoint product, we always keep your needs and desires at the forefront. We believe that with our highly-adjustable, elegant and durable products, you will be better equipped to reach your full potential.</p>

	<p>Users have access to great information on our website including:</p>

	<ul>
		<li>Product instructions in multiple languages</li>
		<li>Information and guidelines on attachment options</li>
		<li>Accurate sizing guides</li>
		<li>User case studies and success stories</li>
	</ul>
</div>

	<div id="link_style_21">

		<h2>Learn More</h2>

		<ul>
			<li><a href="#">Learn more about wheelchair positioning.</a></li>
			<li><a href="#">Explore Bodypoint products.</a></li>
			<li><a href="#">Find out how to buy.</a></li>
		</ul>

	</div>

	<div class="fb-like" data-href="https://www.facebook.com/BodypointInc" data-send="false" data-width="400" data-show-faces="true" data-font="tahoma"></div>

</div>


