<div class="design_framework">

<div class="whatcanbpdoforme_page">

	<h1>Positioning Products<br> That People Love</h1>
	
	<p>Proper wheelchair positioning is more than an issue of comfort and safety. By listening to users and seeking to understand their needs, we create extraordinary postural support solutions that enable them to achieve their full potential.</p>

	<h2>For Therapists</h2>

	<p>Bodypoint postural support products are highly-adjustable, well-crafted and thoughtfully-designed. We provide expert education and resources for positioning people in wheelchairs to maximize their comfort, mobility and quality of life. <a href="#">Find out more</a></p>

	<p>Therapists who use Bodypoint products enjoy the following benefits:</p>

	<ul>
		<li>Rigorously tested, highly-adjustable products</li>
		<li>Accurate sizing guides</li>
		<li>User guides and other application information</li>
		<li>Education and information resources</li>
		<li>User case studies and success stories</li>
		<li>Instructions in multiple languages</li>
	</ul>

</div>

	<div id="link_style_21">

		<h2>Learn More</h2>

		<ul>
			<li><a href="#">Learn more about wheelchair positioning.</a></li>
			<li><a href="#">Explore Bodypoint products.</a></li>
			<li><a href="#">Find out how to buy.</a></li>
		</ul>

	</div>

	<div class="fb-like" data-href="https://www.facebook.com/BodypointInc" data-send="false" data-width="400" data-show-faces="true" data-font="tahoma"></div>

</div>
