// Place all the styles related to the pages2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*******BODYPOINT UI DEV GUIDE STANDARDS*******/

body {
background-color: #f0f0f0;
font-family: Arial, Helvetica, Sans-serif;
color: #333;
}

h1 {
font-size: 34px;
line-height: 34px;
margin: 0;
font-weight: normal;
}

h2 {
font-size: 20px;
line-height: 22px;
margin: 0 0 15px 0;
font-weight: normal;
}

h3 {
font-size: 16px;
font-weight: normal;
line-height: 18px;
margin: 0 0 10px 0;
}

p {
font-size: 12px;
line-height: 18px;
margin-bottom:10px;
}

a {
text-decoration: none;
color: #00747f;
}

a:hover {
text-decoration: underline; 
}

p.intro {
font-size: 16px;
line-height: 24px;
color: #000;
margin-bottom: 0;
}

.breadcrumb {
font-size: 10px;
color: #a1a1a1;
}

a.navItem {
display: inline-block;
float: left;
font-size: 14px;
line-height: 50px;
color: #333;
text-transform: uppercase;
padding: 0 20px;
}

a.navItem:hover {
color: #00747f;
background-color: #fff;
}

a.navActive {
display: inline-block;
float: left;
font-size: 14px;
line-height: 40px;
color: #333;
text-transform: uppercase;
padding: 0 20px 5px 0;
border-top: 5px solid #fff;
}

.flyHead {
font-size: 12px;
line-height: 14px;
text-transform: uppercase;
margin: 0 0 10px 0;
}

.flyCat {
font-size: 10px;
line-height: 12px;
font-weight: bold;
margin: 15px 0 5px 0;
}

.flyText {
font-size: 10px;
line-height:12px;
margin: 0 0 5px 0;
}

.corpNavItem, .cta {
font-size: 12px;
line-height: 30px;
color: #666;
}

.corpNavItem a {
color:#666;
}

.cta a {
color: #00747f;
}

.adIntro {
font-size: 12px;
margin-bottom: 5px;
}

.adHeadline {
font-size: 34px;
line-height: 40px;
}

.label {
font-size: 14px;
line-height: 30px;
}

.capsLabel {
font-size: 12px;
line-height: 14px;
margin: 0 0 2px 0;
}

ul {
color: #00747f;
font-size:12px;
line-height:12px;
margin:0 0 10px 0;
padding:0 0 0 16px;
}

li {
margin-bottom: 8px;
}

.selectTitle {
font-size:16px;
line-height: 49px;
}

.selectTitle span {
font-size: 12px;
}

p.lightNote {
color: #a1a1a1;
margin-bottom: 0;
}

th {
font-size: 10px;
line-height: 11px;
color: #333;
}

td {
font-size: 12px;
color: #333;
}

/********CSS FRAMING******/

/*********COMPANY Overview******/

.company_overview_2_background {
	width: 1100px;
	margin: 0px auto;
	background-image: url(/assets/iStock_000014855442_Large_375_2.png);
	background-repeat: no-repeat;
	//background-color: yellow;
}
.design_framework {
	width: 940px;
	margin: 0px auto;
	//background-color: yellow;
}

.company_overview_2 {
	//background-color: orange;
	padding: 20px 70px;
}

.company_overview_2_top {

}

#basketball_img {
	position: relative;
	border-radius: 5px;
	//margin-left: 10px;
	float: left;
}

#ml100award_img_2 {
	//background-color: green;
	width: 180px;
	height: auto;
	margin: 10px 0px 20px 30px;
	position: relative;
	border-radius: 5px;
}

.company_overview_2 h1 {
	//background-color: green;
	//position: relative;
	//width: 250px;
	font-weight: bold;
	margin: 25px 0px 30px 330px;
	//float: right;
}

.company_overview_2 h2 {
	//background-color: green;
	//position: relative;
	//width: 250px;
	//margin: 100px 0px 30px 330px;
	//float: right;
}

.company_overview_2 h3 {
	//background-color: red;
	line-height: 20px;
	float: right;
	width: 300px;
	margin: 20px 260px 0px 0px
}

#company_overview_2_qoute {
	//background-color: pink;
	font-style: italic;
	//position: relative;
	width: 350px;
	margin: 25px 0px 250px 330px;
	//float: left;
}

.company_overview_2 p {
	//padding: 0px 10px;
	margin-bottom: 15px;
}

.company_overview_2_mid p {
	width: 380px;
	height: 200px;
	float: left;
	padding: 0px 7px;
	margin-bottom: 15px;
}

/*
.company_overview_2 ul {
	margin-left: -15px;
	list-style: none;
	//list-style-image: url('/assets/bp_icon_28.png');
}

.company_overview_2 li {
	font-size: 125%;
	background: url('/assets/bp_icon_28.png') left center;
	background-repeat: no-repeat;
	padding: 6px 33px;
}
*/
.company_overview_2 li {
	font-size: 125%;
	//color: #fe7300;
}

/*CompanyOverview 940*********************************/

.company_overview_940_background {
	position: absolute;
	z-index: -1;
	width: 1100px;
	height: 450px;
	margin: 0px 0px 0px -80px;
	background-image: url(/assets/iStock_000014855442_Large_375_3e.jpg);
	background-repeat: no-repeat;
	//background-color: yellow;
}
.design_framework {
	width: 940px;
	margin: 0px auto;
	//background-color: yellow;
}

.company_overview_940 {
	//background-color: orange;
	padding: 20px 0px;
}

.company_overview_940 p {
	//background-color: orange;
	width: 850px;
}

.company_overview_940_top {
	height: 390px;
}

#basketball_img {
	position: relative;
	border-radius: 5px;
	//margin-left: 10px;
	float: left;
}

#ml100award_img_2 {
	//background-color: green;
	width: 180px;
	height: auto;
	margin: 10px 0px 20px 30px;
	position: relative;
	border-radius: 5px;
}

.company_overview_940 h1 {
	//background-color: green;
	//position: relative;
	//width: 250px;
	font-weight: bold;
	margin: -10px 0px 30px 395px;
	//float: right;
}

.company_overview_940 h2 {
	//background-color: green;
	//position: relative;
	//width: 250px;
	//margin: 100px 0px 30px 330px;
	//float: right;
}

.company_overview_940 h3 {
	//background-color: red;
	line-height: 20px;
	float: right;
	width: 300px;
	margin: 20px 410px 0px 0px
}

#company_overview_940_qoute {
	//background-color: pink;
	font-style: italic;
	//position: relative;
	width: 525px;
	margin: -24px 0px 0px 395px;
	//float: left;
}

.company_overview_940 p {
	//padding: 0px 10px;
	margin-bottom: 15px;
}

.company_overview_940_mid p {
	width: 455px;
	height: 200px;
	float: left;
	padding: 0px 0px;
	margin: 0px 15px 0px 0px;
}

.company_overview_940_lower p {
	//width: 860px;
}
/*
.company_overview_940_lower h3 {
	width: 330px;
	float: right;
}
*/
/*
.company_overview_940 ul {
	margin-left: -15px;
	list-style: none;
	//list-style-image: url('/assets/bp_icon_28.png');
}

.company_overview_940 li {
	font-size: 125%;
	background: url('/assets/bp_icon_28.png') left center;
	background-repeat: no-repeat;
	padding: 6px 33px;
}
*/
#link_style_21 ul {
	margin-top: -10px;
	padding-bottom: 20px;
	font-size: 15px;
}

#link_style_21 h2 {
	font-size: 125%;
	padding: 0px 0px;
}


/*******Company culture ********/

.company_culture_2_background {
	width: 1100px;
	margin: 0px auto;
	background-image: url(/assets/GettyImages_94474543_EDIT_375.jpg);
	background-repeat: no-repeat;
	//background-color: yellow;
}

.company_culture_2 {
	padding: 20px 70px;
	
}

.company_culture_2 h1{
	margin: 60px 0px 280px 0px;
	font-weight: bold;
	
}

.company_culture_2 p{
}

#comapny_culture_2_what_we_value{
	font-size: 25px;
	margin: 25px 0px;
}

.company_culture_2 li {
	font-size: 125%;
	//color: #fe7300;
}

#link_style_21 ul {
	margin-top: -10px;
	padding-bottom: 20px;
	font-size: 15px;
}

#link_style_21 h2 {
	font-size: 125%;
	padding: 0px 0px;
}


/*
.company_culture_2_box {
	height: 630px;
}

.company_culture_2_box p{
	width: 250px;
}

.company_culture_2_box img {
	position: absolute;
	width: 400px;
	height: auto;
	margin: 170px 0px 0px 200px;
}

.positionCenter_2 {
	position: absolute;
	padding: 0px;
	margin: 244px 0px 0px 275px;
}

.positionTopLeft_2 {
	width: 400px;
	height: 300px;
	background-image: url(/assets/BoxGreen.png);
	background-repeat: no-repeat;
	position: absolute;
}

.positionTopLeft_2 p{
	padding-top: 30px;
	padding-left: 40px;
}

.positionTopRight_2 {
	width: 400px;
	background-image: url(/assets/BoxTeal.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 400px;
	height: 300px;
}

.positionTopRight_2 p{
	float: right;
	padding-top: 30px;
	padding-right: 40px;
}

.positionBottomLeft_2 {
	width: 400px;
	background-image: url(/assets/BoxOrange.png);
	background-repeat: no-repeat;
	margin-top:300px;
	position: absolute;
	height: 300px;
}

.positionBottomLeft_2 p{
	padding-top: 140px;
	padding-left: 40px;
}

.positionBottomRight_2 {
	width: 400px;
	background-image: url(/assets/BoxGrey.png);
	background-repeat: no-repeat;
	position: absolute;
	margin: 300px 0px 0px 400px;
	float: left;
	height: 300px;
}

.positionBottomRight_2 p{
	float: right;
	padding-top: 140px;
	padding-right: 40px;
}
*/

/**Culture 940 ***/

.company_culture_940_background {
	position: absolute;
	z-index: -1;
	width: 1100px;
	height: 375px;
	margin: 0px 0px 0px -80px;
	background-image: url(/assets/umbrella_teal_c.png);
	background-repeat: no-repeat;
}

.company_culture_940 {
	padding: 20px 0px;
	
}

.company_culture_940_top {
	height: 370px;
	
}

.company_culture_940_top h1{
	padding: 80px 0px 0px 70px;
	font-weight: bold;
	color: #fff;
}

.company_culture_940 p{
	width: 860px;
}

#comapny_culture_2_what_we_value{
	font-size: 25px;
	margin: 25px 0px;
}

/*
.company_culture_940_box {
	height: 630px;
}

.company_culture_940_box p{
	width: 250px;
}

.company_culture_940_box img {
	position: absolute;
	width: 400px;
	height: auto;
	margin: 170px 0px 0px 200px;
}

.positionCenter_2 {
	position: absolute;
	padding: 0px;
	margin: 244px 0px 0px 275px;
}

.positionTopLeft_2 {
	width: 400px;
	height: 300px;
	background-image: url(/assets/BoxGreen.png);
	background-repeat: no-repeat;
	position: absolute;
}

.positionTopLeft_2 p{
	padding-top: 30px;
	padding-left: 40px;
}

.positionTopRight_2 {
	width: 400px;
	background-image: url(/assets/BoxTeal.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 400px;
	height: 300px;
}

.positionTopRight_2 p{
	float: right;
	padding-top: 30px;
	padding-right: 40px;
}

.positionBottomLeft_2 {
	width: 400px;
	background-image: url(/assets/BoxOrange.png);
	background-repeat: no-repeat;
	margin-top:300px;
	position: absolute;
	height: 300px;
}

.positionBottomLeft_2 p{
	padding-top: 140px;
	padding-left: 40px;
}

.positionBottomRight_2 {
	width: 400px;
	background-image: url(/assets/BoxGrey.png);
	background-repeat: no-repeat;
	position: absolute;
	margin: 300px 0px 0px 400px;
	float: left;
	height: 300px;
}

.positionBottomRight_2 p{
	float: right;
	padding-top: 140px;
	padding-right: 40px;
}
*/

/*********OUR MANIFESTO**********/
/*
.our_manifesto {
	padding: 20px 70px;
}

.our_manifesto_paper {
	background-color: #fdfdfd;
	border-style:solid;
	border-width:1px;
	width: 700px;
	height: 906px;
	margin: 0px auto;
	box-shadow: 8px 8px 10px #888888;
}

.our_manifesto_paper p {
	font-style: italic;
	padding: 1px 70px;
}

.our_manifesto_paper img {
	width: 225px;
	height: auto;
	margin: 40px 0px 40px 425px;
}*/

/*****TIMELINE*****/



