/*******BODYPOINT UI DEV GUIDE STANDARDS*******/

body {
background-color: #f0f0f0;
font-family: Arial, Helvetica, Sans-serif;
color: #333;
}

h1 {
font-size: 34px;
line-height: 34px;
margin: 0;
font-weight: normal;
}

h2 {
font-size: 20px;
line-height: 22px;
margin: 0 0 15px 0;
font-weight: normal;
}

h3 {
font-size: 16px;
font-weight: normal;
line-height: 18px;
margin: 0 0 10px 0;
}

p {
font-size: 12px;
line-height: 18px;
margin-bottom:10px;
}

a {
text-decoration: none;
color: #00747f;
}

a:hover {
text-decoration: underline; 
}

p.intro {
font-size: 16px;
line-height: 24px;
color: #000;
margin-bottom: 0;
}

.breadcrumb {
font-size: 10px;
color: #a1a1a1;
}

a.navItem {
display: inline-block;
float: left;
font-size: 14px;
line-height: 50px;
color: #333;
text-transform: uppercase;
padding: 0 20px;
}

a.navItem:hover {
color: #00747f;
background-color: #fff;
}

a.navActive {
display: inline-block;
float: left;
font-size: 14px;
line-height: 40px;
color: #333;
text-transform: uppercase;
padding: 0 20px 5px 0;
border-top: 5px solid #fff;
}

.flyHead {
font-size: 12px;
line-height: 14px;
text-transform: uppercase;
margin: 0 0 10px 0;
}

.flyCat {
font-size: 10px;
line-height: 12px;
font-weight: bold;
margin: 15px 0 5px 0;
}

.flyText {
font-size: 10px;
line-height:12px;
margin: 0 0 5px 0;
}

.corpNavItem, .cta {
font-size: 12px;
line-height: 30px;
color: #666;
}

.corpNavItem a {
color:#666;
}

.cta a {
color: #00747f;
}

.adIntro {
font-size: 12px;
margin-bottom: 5px;
}

.adHeadline {
font-size: 34px;
line-height: 40px;
}

.label {
font-size: 14px;
line-height: 30px;
}

.capsLabel {
font-size: 12px;
line-height: 14px;
margin: 0 0 2px 0;
}

ul {
color: #00747f;
font-size:12px;
line-height:12px;
margin:0 0 10px 0;
padding:0 0 0 16px;
}

li {
margin-bottom: 8px;
}

.selectTitle {
font-size:16px;
line-height: 49px;
}

.selectTitle span {
font-size: 12px;
}

p.lightNote {
color: #a1a1a1;
margin-bottom: 0;
}

th {
font-size: 10px;
line-height: 11px;
color: #333;
}

td {
font-size: 12px;
color: #333;
}

/********CSS FRAMING******/

.navigation {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
}

.navigation img {
	margin: 0px;
	padding: 0px;
}

.footer {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
}

.index {
	width: 1100px;
	margin: 0px auto;
	padding: 60px 0px;
}

.photo_place_holder {
	position: absolute;
	margin: 225px 0px 0px 0px;
	font-size: 18px;
	color: #888;
}

.fb-like {
	margin-bottom: 15px;
}

/*******LINK STYLES*************/

.link_styles ul {
		padding: 20px 0px;
}

.link_styles h2 {
	margin: 15px 0px 15px -25px;
}

/**link 18**/

.link_style_18 ul {
		padding: 20px 0px;
}

.link_style_18 h2 {
	margin: 30px 0px 15px -25px;
}

/**/

.link_style_1 {

}

.link_style_2 ul {
	margin-left: -15px;
	list-style: none;
	//list-style-image: url('/assets/bp_icon_28.png');
}

.link_style_2 li {
	background: url('/assets/bp_icon_28.png') left center;
	background-repeat: no-repeat;
	padding: 6px 33px;
}

.link_style_3 li {
	color: #fe7300;
}

.link_style_4 a {
	color: #fe7300;
}

.link_style_5 li {
	color: #fe7300;
}

.link_style_5 a {
	color: #fe7300;
}

.link_style_6 ul {
	margin-left: -15px;
	list-style: none;
}

.link_style_6 li {
	background: url('/assets/bp_icon_28.png') left center;
	background-repeat: no-repeat;
	padding: 6px 33px;
}

.link_style_6 a {
	color: #fe7300;
}

.link_style_7 ul {
	list-style: none;
}

.link_style_7 li:before {
   content: "•";
   font-size: 180%; /* or whatever */
   padding-right: 5px;
}

.link_style_8 li {
	font-size: 125%;
}

.link_style_9 ul {
	margin-left: -15px;
	list-style: none;
}

.link_style_9 li {
	font-size: 125%;
	background: url('/assets/bp_icon_28.png') left center;
	background-repeat: no-repeat;
	padding: 6px 33px;
}

.link_style_9 a {
	color: #fe7300;
}

.link_style_10 ul {
	margin-left: -15px;
	list-style: none;
	//list-style-image: url('/assets/bp_icon_28.png');
}

.link_style_10 li {
	font-size: 125%;
	background: url('/assets/bp_icon_28.png') left center;
	background-repeat: no-repeat;
	padding: 6px 33px;
}

.link_style_11 li {
	font-size: 125%;
	color: #fe7300;
}

.link_style_12 ul {
	//list-style: none;
	margin: -15px 0px 0px 15px;
}

.link_style_12 li {
	font-size: 125%;
}

.link_style_12 h2 {
	font-size: 125%;
	background: url('/assets/link_point.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.link_style_13 ul {
	//list-style: none;
	margin: -15px 0px 0px 15px;
}

.link_style_13 li {
	font-size: 125%;
}

.link_style_13 h2 {
	font-size: 125%;
	background: url('/assets/link_point_orange.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.link_style_14 ul {
	//list-style: none;
	margin: -15px 0px 0px 15px;
}

.link_style_14 li {
	font-size: 125%;
}

.link_style_14 h2 {
	font-size: 125%;
	background: url('/assets/link_point_blue_orange.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.link_style_15 ul {
	//list-style: none;
	margin: -15px 0px 0px 15px;
}

.link_style_15 li {
	font-size: 125%;
}

.link_style_15 h2 {
	font-size: 125%;
	background: url('/assets/link_point_orange_blue.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.link_style_16 ul {
	//list-style: none;
	margin: -15px 0px 0px 15px;
}

.link_style_16 li {
	font-size: 125%;
}

.link_style_16 h2 {
	font-size: 125%;
	background: url('/assets/link_point_grey.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.link_style_17 ul {
	//list-style: none;
	margin: -15px 0px 0px 15px;
}

.link_style_17 li {
	font-size: 125%;
}

.link_style_17 h2 {
	font-size: 125%;
	background: url('/assets/link_point_grey2.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.color_test {
	//width: 20px;
	//height: 20px;
	background-color: #c0c0b1;//#a9aa96;//#bab9a9;
	float: left;
	margin-right: 15px;
}

.link_style_18 ul {
	//list-style: none;
	margin: 15px 0px 0px 30px;
	padding: 10px 0px;
}

.link_style_18 li {
	font-size: 125%;
}

.link_style_18 h2 {
	font-size: 125%;
	background: url('/assets/link_point_grey3.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
	margin: 30px 0px 15px -5px;
}

.link_style_19 ul {
	//list-style: none;
	margin: -15px 0px 0px 35px;
}

.link_style_19 li {
	font-size: 125%;
}

.link_style_19 h2 {
	font-size: 125%;
	background: url('/assets/link_point_grey4.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

.link_style_20 ul {
	//list-style: none;
	margin: -15px 0px 0px 5px;
}

.link_style_20 li {
	font-size: 125%;
}

.link_style_20 h2 {
	font-size: 125%;
	background: url('/assets/link_point_grey5.png') left center;
	background-repeat: no-repeat;
	padding: 0px 40px;
}

#link_style_21 ul {
	margin-top: -10px;
	padding-bottom: 20px;
	font-size: 15px;
}

#link_style_21 h2 {
	font-size: 125%;
	padding: 0px 0px;
}


/*****company overview**********/

.design_framework {
	width: 940px;
	margin: 0px auto;
	//background-color: yellow;
}

.company_overview {
	//background-color: orange;
	padding: 20px 0px;
}

#basketball_img {
	position: relative;
	border-radius: 5px;
	//margin-left: 10px;
	float: left;
}

#ml100award_img {
	//background-color: green;
	width: 225px;
	height: auto;
	margin: 10px 0px 20px 30px;
	position: relative;
	border-radius: 5px;
}

.company_overview h1 {
	//background-color: green;
	//position: relative;
	//width: 250px;
	font-weight: bold;
	margin: 25px 0px 30px 260px;
	//float: right;
}

.company_overview h3 {
	//background-color: red;
	line-height: 20px;
	float: right;
	width: 300px;
	margin: 30px 220px 0px 0px
}

#company_overview_qoute {
	//background-color: pink;
	font-style: italic;
	//position: relative;
	width: 350px;
	margin: 25px 0px 70px 260px;
	//float: left;
}

.company_overview p {
	//padding: 0px 10px;
	margin-bottom: 15px;
}

/*******Company culture ********////

.company_culture_940_background {
	position: absolute;
	z-index: -1;
	width: 1100px;
	height: 375px;
	margin: 0px 0px 0px -80px;
	background-image: url(/assets/umbrella_blue.png);
	background-repeat: no-repeat;
}

.company_culture_940 {
	padding: 20px 0px;
	
}

.company_culture_940_top {
	height: 370px;
	
}

.company_culture_940_top h1{
	padding: 80px 0px 0px 70px;
	font-weight: bold;
	color: #fff;
}

.company_culture_940 p{
	width: 860px;
}

#comapny_culture_2_what_we_value{
	font-size: 25px;
	margin: 25px 0px;
}

/*
.company_culture {
	//background-color: orange;
	padding: 20px 70px;
}

.company_culture h1{
	//background-color: orange;
	margin-bottom: 15px;
}

.company_culture p{
	//background-color: orange;
	//margin-left: 10px;
	//margin-right: 10px;
}

#comapny_culture_what_we_value{
	//background-color: orange;
	font-size: 25px;
	margin: 25px 0px;
}

.company_culture_box {
	//background-color: orange;
	height: 630px;
	//z-index: 0;
	//border-style:solid;
	//border-width:1px;
}

.company_culture_box p{
	//background-color: orange;
	width: 250px;
}

.company_culture_box img {
	position: absolute;
	width: 400px;
	height: auto;
	margin: 170px 0px 0px 200px;
}

.positionCenter {
	position: absolute;
	padding: 0px;
	margin: 244px 0px 0px 275px;
}

.positionTopLeft {
	width: 400px;
	height: 300px;
	background-image: url(/assets/BoxGreen.png);
	background-repeat: no-repeat;
	position: absolute;
	//float: left;
}

.positionTopLeft p{
	padding-top: 30px;
	padding-left: 40px;
}

.positionTopRight {
	width: 400px;
	background-image: url(/assets/BoxTeal.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 400px;
	//float: left;
	height: 300px;
}

.positionTopRight p{
	float: right;
	padding-top: 30px;
	padding-right: 40px;
}

.positionBottomLeft {
	width: 400px;
	background-image: url(/assets/BoxOrange.png);
	background-repeat: no-repeat;
	//float:left;
	margin-top:300px;
	position: absolute;
	height: 300px;
}

.positionBottomLeft p{
	padding-top: 140px;
	padding-left: 40px;
}

.positionBottomRight {
	width: 400px;
	background-image: url(/assets/BoxGrey.png);
	background-repeat: no-repeat;
	position: absolute;
	margin: 300px 0px 0px 400px;
	float: left;
	height: 300px;
}

.positionBottomRight p{
	float: right;
	padding-top: 140px;
	padding-right: 40px;
}
*/

/*********OUR MANIFESTO**********/

.our_manifesto {
	padding: 60px 70px;
}

.our_manifesto_paper {
	background-color: #fdfdfd;
	border-style:solid;
	border-width:1px;
	width: 700px;
	height: 906px;
	margin: 0px auto;
	box-shadow: 8px 8px 10px #888888;
}

.our_manifesto_paper p {
	font-style: italic;
	padding: 1px 70px;
}

.our_manifesto_paper img {
	width: 225px;
	height: auto;
	margin: 40px 0px 40px 55px;
}

.our_manifesto_signature img {
	margin: 40px 0px -10px 55px;
}

.our_manifesto_signature p {
	position: relative;
	padding-left: 70px;
	width: 165px;
	float: left;
}

.our_manifesto_signature .matt_kosh{
	width: 175px;
	padding-left: 40px;
}

/*********TIMELINE*********/

.timeline_page {
	background-color: #d7d7d7;
	//padding-bottom: 5px;
	border-radius: 8px;
}

.timeline_page h1 {
	//background-color: red;
	margin: 40px 0px 20px 0px;
	padding: 20px;
	font-weight: bold;
	//text-decoration: underline;
	//border-bottom: solid;
	width: 326px;
}

.timeline_page h2 {
	//background-color: orange;
	//padding: 60px 70px;
	margin: 15px auto;
	font-size: 205%;
	font-weight: bold;
	text-align: center;
}

.timeline_page h3 {
	//background-color: orange;
	//padding: 60px 70px;
	margin: 15px auto;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

.timeline {
	background-color: #e3e3e3;//#d7d7d7;
	padding: 20px 0px;
	height: 1120px;
	//border-radius: 8px;
}

.timeline p {
	width: 250px;
}

.timeline span {
	font-weight: bold;
	//border-bottom: solid;
}

.timeline img {
	position: absolute;
	border-radius: 7px;
}

.timeline_left {
	//background-color: red;
	width: 468px;
	height: 1120px;
	float: left;
}

.timeline_center {
	background-color: #000;
	width: 2px;
	height: 1120px;
	float: left;
}

.timeline_right {
	//background-color: yellow;
	width: 467px;
	height: 1120px;
	float: left;
}

.t1994 {
	padding: 0px 0px 0px 165px;
}
.t1995 {
	padding: 10px 0px 0px 180px;
}

.t1996 {
	font-size: 150%;
	padding: 40px 0px 0px 200px;
	font-weight: bold;
}
.t1996 p{
	//font-size: 16px;
}

.t2001_tri {
	padding: 25px 0px 0px 155px;
}
.t2001_tri span {
	
}


.t2001_ful {
	padding: 25px 0px 0px 70px;
}

.t2003 {
	font-size: 150%;
	padding: 15px 0px 0px 20px;
	font-weight: bold;
}
.t2003 p {
	//font-size: 16px;
}

.t2004 {
	padding: 30px 0px 0px 90px;
}

.t2005 {
	font-size: 150%;
	padding: 5px 0px 0px 30px;
	font-weight: bold;
}
.t2005 p {
	//font-size: 16px;
}


.t2007 {
	padding: 65px 0px 0px 150px;
}
.t2008 {
	padding: 30px 0px 0px 55px;
}

.t2010 {
	font-size: 150%;
	padding: 40px 0px 0px 180px;
	font-weight: bold;
}
.t2010 p {
	//font-size: 16px;
}


.t2011 {
	font-size: 150%;
	padding: 30px 0px 0px 195px;
	font-weight: bold;
}
.t2011 p {
	//font-size: 15px;
}

.t2013 {
	padding: 70px 0px 0px 25px;
	font-weight: bold;
	font-size: 150%;
}
.t2013 p {
	//font-size: 16px;
}

#ankle_huggers {
	width: 150px;
	height: auto;
	margin: 40px 0px 0px 30px;
}

#stayflex_chest {
	width: 150px;
	height: auto;
	margin: 520px 0px 0px 295px;
}

#evoflex_pelvic_stab {
	width: 150px;
	height: auto;
	margin: 850px 0px 0px 30px;
}

#cinch_mount {
	width: 150px;
	height: auto;
	margin: 330px 0px 0px 280px;
}

#push_button {
	width: 150px;
	height: auto;
	margin: 710px 0px 0px 10px;
}

#pivot_fit {
	width: 150px;
	height: auto;
	margin: 920px 0px 0px 290px;
}

#clickit {
	width: 200px;
	height: auto;
	margin:1100px 0px 0px 50px;
}

.t1994_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 40px 0px 0px 458px;
	position: absolute;
}
.t1995_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 140px 0px 0px 0px;
	position: absolute;
}
/*switched*/
.t1996_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 120px 0px 0px 458px;
	position: absolute;
}

.t2001_tri_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 260px 0px 0px 458px;
	position: absolute;	
}

.t2001_ful_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 265px 0px 0px 0px;
	position: absolute;	
}

.t2003_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 430px 0px 0px 0px;
	position: absolute;
}
/*switched*/
.t2004_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 400px 0px 0px 458px;
	position: absolute;
}

.t2005_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 520px 0px 0px 0px;
	position: absolute;
}


.t2007_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 620px 0px 0px 458px;
	position: absolute;	
}
.t2008_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 730px 0px 0px 0px;
	position: absolute;	
}

.t2010_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 790px 0px 0px 458px;
	position: absolute;	
}

.t2011_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 900px 0px 0px 0px;
	position: absolute;
}

.t2013_l {
	background-color: #000;
	width: 10px;
	height: 2px;
	margin: 990px 0px 0px 458px;
	position: absolute;
}

/********WHAT CAN BP DO FOR ME*********/
/*
.whatcanbpdoforme_wheelchair_background {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
	background-image: url(/assets/dealer_1.png);
	background-repeat: no-repeat;
	//background-color: yellow;
}

.whatcanbpdoforme_page {
	margin: 0px 0px;
}

.whatcanbpdoforme_page h1 {
	font-size: 195%;
	padding: 150px 0px 180px 25px;
	font-weight: bold;
	//color: #fff;
}
*/

.whatcanbpdoforme_page {
	padding: 0px 0px 20px 0px;
}

.whatcanbpdoforme_page h1 {
	font-size: 195%;
	padding: 30px 0px 20px 0px;
	font-weight: bold;
	//color: #fff;
}

.whatcanbpdoforme_page h2 {
	font-size: 165%;
	padding: 10px 0px;
	font-weight: bold;
}

.whatcanbpdoforme_page h3 {
	padding: 15px 0px;
	font-weight: bold;
}

.whatcanbpdoforme_page ul {
	color: #333;
	padding-left: 45px;
}

.whatcanbpdoforme_page p {
	width: 600px;
}

#link_style_21 ul {
	margin-top: -10px;
	padding-bottom: 20px;
	font-size: 15px;
}

#link_style_21 h2 {
	font-size: 125%;
	padding: 0px 0px;
}

/*****WHEELCHAIR POSITIONING*****/

.wheelchair_positioning_background {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
	background-image: url(/assets/holder_square_375.png);
	background-repeat: no-repeat;
	//background-color: yellow;
}

.wheelchair_positioning {
	padding: 30px 0px;
}

.wheelchair_positioning h1{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.wheelchair_positioning p{
	width: 650px;
}

.wheelchair_positioning h2{
	font-weight: bold;
}

.wheelchair_positioning_top {
	height: 360px;
}

.wheelchair_positioning_top img{
	float: left;
	width: 180px;
	height: 245px;
	margin: 0px 30px 0px 0px;
}

.wheelchair_positioning_top p{
	width: 400px;
	margin: 0px 0px 70px 0px;
	font-size: 15px;
}

.wheelchair_positioning_mid {
	margin-bottom: 25px;
}

/*****WHY POSITIONING MATTERS*****/

.why_positioning_matters_background {
	width: 1100px;
	margin: 0px auto;
	padding: 0px;
	background-image: url(/assets/holder_square_375.png);
	background-repeat: no-repeat;
	//background-color: yellow;
}

.why_positioning_matters {
	padding: 30px 0px;
}

.why_positioning_matters h1{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.why_positioning_matters p{
	width: 650px;
}

.why_positioning_matters h2{
	padding-top: 10px;
	font-weight: bold;
}

.why_positioning_matters img{
	float: right;
	width: 180px;
	height: 245px;
	margin: 20px 305px 0px 30px;
}

.why_positioning_matters_top p{
	width: 650px;
	margin: 315px 0px 20px 0px;
	font-size: 15px;
}

.why_positioning_matters_mid {
	margin-bottom: 25px;
}

/*****HOW TO BUY*****/

.how_to_buy_background {
	position: absolute;
	z-index: -1;
	width: 1100px;
	height: 375px;
	margin: 0px 0px 0px -80px;
	background-image: url(/assets/bodypoint_buckles_2.png);
	background-repeat: no-repeat;
}

.how_to_buy {
	padding: 30px 0px;
}

.how_to_buy_top {
	height: 365px;
}

.how_to_buy_top p{
	color: #fff;
	padding: 0px 0px 0px 60px;
}

.how_to_buy h1{
	font-weight: bold;
	padding: 70px 0px 0px 60px;
	margin: 0px 0px 0px 0px;
	color: #fff;
}

.how_to_buy p{
	width: 475px;
	font-size: 15px;
}

/***********TERMS AND CONDITIONS*********/

.terms_and_conditions {
	padding: 30px 0px;
}

.terms_and_conditions h2{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.terms_and_conditions h3{
	font-weight: bold;
	padding: 10px 0px;
	//margin: 0px 0px 30px 0px;
}

.terms_and_conditions p{
	width: 750px;
	font-size: 15px;
}

.terms_and_conditions ul{
	list-style: none;
	color: #333;
}

/***********Partner Center*********/

.partner_center_background {
	position: absolute;
	z-index: -1;
	width: 1100px;
	height: 375px;
	margin: 0px 0px 0px -80px;
	background-image: url(/assets/holder_square_375.png);
	background-repeat: no-repeat;
	//background-color: yellow;
}

.partner_center {
	padding: 30px 0px;
}

.partner_center h3{
	font-weight: bold;
	padding: 10px 0px;
	//margin: 0px 0px 30px 0px;
}

.partner_center_top h1 {
	font-weight: bold;
	font-size: 220%;
	margin: 70px 0px 10px 0px;
}

.partner_center_top p {
	font-weight: bold;
	width: 375px;
	font-size: 15px;
	margin: 0px 0px 150px 0px;
}

.partner_center_mid {
	//background-color: orange;
	height: 260px;
	padding-top: 20px;
	border-bottom-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.partner_center_mid h2{
	font-weight: bold;
	margin: 40px 0px 0px 160px;
	font-size: 150%;
}

.partner_center_mid img{
	float: left;
	width: 150px;
	height: auto;
}

.partner_center_mid p{
	width: 260px;
	float: left;
	//margin-left: 15px;
}

.partner_center_mid_1 {
	//background-color: yellow;
	width: 300px;
	height: 240px;
	float: left;
	border-right-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.partner_center_mid_2 {
	//background-color: green;
	width: 300px;
	height: 240px;
	float: left;
	margin-left: 15px;
	border-right-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.partner_center_mid_3 {
	//background-color: #afafaf;
	width: 300px;
	float: left;
	margin-left: 15px;
}

.partner_center_lower_mid {
	//background-color: orange;
	height: 190px;
	padding-top: 20px;
	//border-bottom-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.partner_center_lower_mid a {
	height: 30px; 
	padding: 0 15px; 
	border-radius: 5px; 
	background-color: #fe7300; 
	font-size: 12px; 
	line-height: 30px; 
	color: #fff; 
	text-transform: uppercase; 
	margin: 0px 0px 0px 15px;
}

.partner_center_lower_mid a:hover {
	background-color: #fd7e01; 
	text-decoration: underline; 
}

.partner_center_lower_mid h2{
	font-weight: bold;
	margin: 20px 0px 0px 165px;
	font-size: 150%;
}

.partner_center_lower_mid img{
	float: left;
	width: 150px;
	height: auto;
}

.partner_center_lower_mid p{
	width: 260px;
	float: left;
	margin-left: 15px;
	//margin-left: 15px;
}

.partner_center_lower_mid_1 {
	//background-color: yellow;
	width: 460px;
	//height: 240px;
	float: left;
	border-right-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.partner_center_lower_mid_2 {
	//background-color: #afafaf;
	width: 460px;
	float: left;
	margin-left: 15px;
}

.partner_center_bottom p{
	margin: 15px 25px 30px 0px;
	width: 440px;
	float: left;
}

.partner_center_bottom h3{
	margin: 15px 25px 0px 0px;
	width: 440px;
	float: left;
}

/************PRIVACY POLICY*************/

.privacy_policy {
	padding: 30px 0px;
}

.privacy_policy h2{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.privacy_policy h3{
	font-weight: bold;
	padding: 10px 0px;
	//margin: 0px 0px 30px 0px;
}

.privacy_policy p{
	width: 750px;
	font-size: 15px;
}

.privacy_policy ul{
	color: #333;
	width: 730px;
	font-size: 15px;
	line-height: 17px;
}

/**********FAQ****************/

.faq {
	padding: 30px 0px;
}

.faq h1{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.faq h2{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.faq h3{
	font-weight: bold;
	padding: 10px 0px;
	width: 750px;
	//margin: 0px 0px 30px 0px;
}

.faq p{
	width: 750px;
	font-size: 15px;
}

.faq ul {
	list-style: none;
	width: 750px;
	font-size: 15px;
	line-height: 16px;
	padding-left: 0px;
}

.faq li {
	list-style: none;
	width: 750px;
	font-size: 15px;
	line-height: 16px;
}

/***********LITERATURE*******/

.literature {
	padding: 30px 0px;
}

.literature h1{
	font-weight: bold;
	font-size: 210%;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}

.literature h2{
	font-weight: bold;
	padding: 30px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 150%;
	margin-bottom: 20px;
	//background-color: yellow;
	border-bottom-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
	width: 750px;
}

.literature h3{
	font-weight: bold;
	padding: 30px 0px 0px 140px;
	width: 750px;
	//margin: 0px 0px 30px 0px;
}

.literature p{
	//background-color: orange;
	width: 750px;
	font-size: 15px;
	padding: 0px 0px 20px 0px;
}

.literature img {
	float: left;
	width: 120px;
	height: 150px;
}

.literature_blocks {
	height: 180px;
}

.literature_blocks p {
	width: 500px;
	padding: 0px 0px 0px 140px;
}

.literature_catalogs {

}

.literature_users_guides_1 {

}

.literature_users_guides_2 {

}

.literature_users_guides_3 {

}

.literature_brochures {

}

/*************CODING************/

.coding_page {
	padding: 30px 0px;
}

.coding_page h1{
	font-weight: bold;
	font-size: 210%;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
}

.coding_page h2{
	font-weight: bold;
	padding: 20px 0px 0px 0px;
	//margin: 0px 0px 20px 0px;
	//font-size: 150%;
}

.coding_page h3{
	font-weight: bold;
	padding: 10px 0px;
	width: 750px;
	//font-size: 125%;
	//margin: 0px 0px 30px 0px;
}

.coding_page p{
	width: 725px;
	//font-size: 15px;
}

.coding_page_top {
	//background-color: orange;
	height: 330px;
}

.coding_page_top img{
	width: 200px;
	height: 250px;
	float: left;
	margin: 15px 15px 15px 0px;
}

/**********FIND A PARTNER****************/

.find_a_partner {
	padding: 30px 0px;
}

.find_a_partner h1 {
	font-weight: bold;
	font-size: 210%;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.find_a_partner h2{
	font-weight: bold;
	padding: 40px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
	font-size: 160%;
	width: 850px;
	border-bottom-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.find_a_partner h3{
	font-weight: bold;
	padding: 10px 0px;
	width: 400px;
	//margin: 0px 0px 30px 0px;
}

.find_a_partner p{
	width: 750px;
	font-size: 15px;
}

.find_a_partner_right {
	float: right;
	height: 800px;
	margin: 0px 110px 0px 0px;
}

.find_a_partner_right p {
	width: 275px;
}

.find_a_partner_map_links {
	margin: 30px 0px 0px 0px;
}

.find_a_partner_map_links p {
	height: 30px;
	//width: px;
	//padding: 5px 15px;
	border-radius: 5px;
	background-color: #00747f;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.find_a_partner_map_links p:hover {
	background-color: #00b1b1;
	text-decoration: underline;
}

.find_a_partner_map_links a {
	height: 30px;
	//width: px;
	padding: 7px 42px;
	border-radius: 5px;
	background-color: #00747f;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
}

#find_a_partner_map_links_representative {
	padding: 7px 17px;
}

.find_a_partner_map_links a:hover {
	background-color: #00b1b1;
	text-decoration: underline;
}

.find_a_partner_map {
	margin: 30px 0px 0px 0px;
}

/****************SUCCESS STORIES LANDING PAGE*************/

.success_stories_landing_page {
	padding: 30px 0px;
}

.success_stories_landing_page h1 {
	font-weight: bold;
	font-size: 210%;
	padding: 20px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
}

.success_stories_landing_page h2{
	font-weight: bold;
	padding: 40px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
	font-size: 160%;
	//border-bottom-style:solid;
	//border-color:#9b9b9b;
	//border-width:1px;
}

.success_stories_landing_page p{
	//padding: 0px 0px 30px 0px;
	width: 750px;
}

.success_stories_landing_page_top p{
	padding: 0px 0px 0px 0px;
}

.success_stories_landing_page_top h2{
	//padding: 0px 0px 0px 0px;
	margin: 0px 0px -10px 0px;
}

#tell_us_your_story {
	height: 30px;
	padding: 2px 15px;
	margin:0px 0px 0px 590px;
	border-radius: 5px;
	background-color: #00747f;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

#tell_us_your_story:hover {
	background-color: #00b1b1;
	text-decoration: underline;
}

.stories_container {
	//background-color: orange;
	height: 835px;
	width: 780px;
	margin-top: 10px;
	padding-top: 15px;
	border-top-style:solid;
	//border-bottom-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.story_box {
	//background-color: yellow;
	width: 260px;
	height: 400px;
	padding-bottom: 25px;
	float: left;
}

.story_box p {
	width: 220px;
}

.story_box img {
	width: 220px;
	height: auto;
}

.story_box h3 {
	//background-color: green;
	height: 60px;
	width: 220px;
	padding-top: 15px;
}

/*****************SUCCESS STORY PAGE**************/

.success_story_page {
	padding: 30px 0px;
}

.success_story_page h1 {
	font-weight: bold;
	font-size: 210%;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.success_story_page h2{
	font-weight: bold;
	padding: 40px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
	font-size: 160%;
	//border-bottom-style:solid;
	//border-color:#9b9b9b;
	//border-width:1px;
}

.success_story_page p{
	//padding: 0px 0px 30px 0px;
	width: 750px;
}

.success_story_page_top {
	//background-color: orange;
	margin-bottom: 30px;
}

.success_story_page_top p{
	padding: 0px 0px 0px 0px;
}

.success_story_page_top h2{
	//padding: 0px 0px 0px 0px;
	margin: 0px 0px -10px 0px;
}

.success_story_page_top h3{
	//padding: 0px 0px 0px 0px;
	margin: 20px 0px -10px 0px;
	font-weight: bold;
}

#tell_us_your_story_single {
	height: 20px;
	padding: 0 15px;
	float: right;
	margin:-5px 0px 0px 0px;
	border-radius: 5px;
	background-color: #00747f;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

#tell_us_your_story_single:hover {
	background-color: #00b1b1;
	text-decoration: underline;
}

.story_container {
	//background-color: orange;
	//height: 880px;
	margin-top: 10px;
	width: 940px;
	padding-top: 15px;
	border-top-style:solid;
	//border-bottom-style:solid;
	border-color:#9b9b9b;
	border-width:1px;
}

.story_container img {
	//background-color: green;
	height: 262px;
	width: auto;
}

.story_container_top_images {
	float:left;
	height: 285px;
}

.story_container_top_p {
	//background-color: green;
	//position: relative;
	width: 220px;
	height: 285px;
	float: left;
	
}

.story_container_top_p p{
	//background-color: yellow;
	//position: relative;
	padding: 15px 0px 0px 15px;
	width: 200px;
}

.story_container_left {
	//background-color: green;
	width: 180px;
	float: left;
	padding-top: 15px;
}

.story_container_left h2{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.story_container_left ul{
	padding: 0px 0px 0px 0px;
	margin: 30px 0px 0px 0px;
	list-style: none;
	width: 170px;
}

.story_container_body {
	//background-color: yellow;
	padding: 10px 0px 0px 180px;
}

.story_container_body p {
	width: 525px;
}


